<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/registration_styles.css}">
</head>
<body>
<div th:align="center" class="box">
    <h2>Register</h2>
    <form th:action="@{/register}" th:method="post" th:object="${user}">
        <div class="user_input">
            <input type="text" th:field="*{username}" required="required"><br>
            <label th:for="username" th:text="Username"></label>
        </div>
        <div class="user_input">
            <input type="password" th:field="*{password}" required="required"><br>
            <label th:for="password" th:text="Password"></label>
        </div>
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>